@page
@model nma_graphics.Pages.Products.IndexModel
@{
}
<br />
<h2> list of Products</h2>

<div class="row justify-content-between w-75">
    <form method="get" class="col-sm-6">
        <div class="input-group md-form form-sm form-2 pl-0 col-sm-3">
            <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search" name="search" value="@Model.search">
            <div class="input-group-append border-1">
                <button type="submit">
                    <span class="input-group-text lime lighten-2 border-1" id="basic-text1">
                        <i class="fas fa-search text-grey"
                           aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
    <a class="btn btn-primary col-sm-3" asp-page='/Products/Create'>New Product</a>
</div>

<br />
@if (Model.errorMessage.Length > 0)
{
    <div class="row mb-3 alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>
}
<table class="table w-75">
    <thead>
        <tr>
            <th class="col-sm-1">ID</th>
            <th class="col-sm-3">Product Name</th>
            <th class="col-sm-2" align="right">Unit Price</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListProducts)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.productdes</td>
                <td align="right">@item.unitprice .00 LKR</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Products/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Products/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>