@page
@model nma_graphics.Pages.Customers.IndexModel
@{
}

<br />
<h2> list of Customers</h2>
<a class="btn btn-primary btn-sm" href='/Customers/Create'>New Customers</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>email</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ListCustomers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.contactno</td>
                <td>@item.address</td>
                <td>@item.email</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Customers/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Customers/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>